/* * {
    border: 1px black dotted;
} */

body{
    display:flex;
}

#right{
    width:55%
}

#left{
    width:45%
}

#description{
    height: 92vh;
}

input{
    max-width: 60%;
    font-size: 11px;
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .6rem;
    text-transform: uppercase;
    margin-right: 4px;
}

::selection {
    color: black;
    background: white;
  }

::placeholder {
    text-align: center;
    font-size: 11px;
    color: rgb(191,191,191);
    text-transform: none;
}

#description{
    font-size: 11px;
    text-align:justify;
}

#description-title{
    text-align: center;
    font-weight: bold;
}

#symbol{
    font-size: 2em;
    font-weight: bolder;
}

.info{
    font-size: 11px;
    margin-bottom: 8px;
}

.dark-text{
    color:whitesmoke;
}

.dark-background{
    background-color: rgb(68,68,68);
}

.dark-input{
    background: rgb(111,111,111);
    color: rgb(191,191,191);
}

.dark-icon{
    color:rgb(111,111,111);
}

#icon-is-correct-or-no{
    color:rgb(255, 117, 117);
    margin-left: 5px;
}

.not-conform{
    color:rgb(255, 117, 117) !important;
}

.conform{
    color: rgb(169, 209, 142) !important;
}